#contact{
          height: 100%;
          width: 100%;
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          
}
.contact-deatial{
          height: 80vh;
          width: 50vw;
          background-color: rgb(0, 15, 77);
          border-radius: 1vw;
          padding: 2vw;
          margin-top: 7vw;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap:3vw;
          border-radius: 1vw;
          box-shadow: 2px 2px 5px black;

}
.contact-deatial input{
          border-radius: 0.3vw;
          height: 60px;
          width: 500px;
           font-size: x-large;
          margin: 10px;
          padding: 10px;
          border: none;
          box-shadow: 2px 2px 5px black;
          margin-left:  80px;

}
.contact-deatial #btn{
          height: 50px;
          width: 150px;
          font-size:  x-large;
          margin-left: 250px;
          margin-top: 50px;
          background-color: rgb(0, 166, 255);
}
#btn:hover{
          background-color:transparent;
          border: 2px solid rgb(0, 166, 255);
          color: rgb(0, 166, 255);
}
#textarea{
 width: 500px;
 height: 100px;
 font-size: x-large;
 padding: 10px;
 border-radius: 0.5vw;
 margin-left: 80px;
 margin-top: 10px;          
 box-shadow: 2px 2px 5px black;
}

@media (max-width:750px){
          .contact-deatial {
                    height: 70vh;
                    width: 90vw;
                     
                }
          .contact-deatial input {
                    border-radius: 0.3vw;
                    height: 35px;
                    width: 250px;
                    font-size: medium;
                    margin-left:  10px;
          }
          .contact-deatial #btn {
                    height: 40px;
                    width: 130px;
                    font-size: x-large;
                    margin-left: 60px;
                    margin-top: 20px;
                     border-radius: 1vw;
                    
                }
           #btn:hover{
                    background-color:transparent;
                    border: 2px solid rgb(0, 166, 255);
                    color: rgb(0, 166, 255);
               }
          #textarea {
                    width: 250px;
                    height: 80px;
                    font-size: medium;
                    padding: 10px;
                    border-radius: 1vw;
                    margin-left: 10px;
                    margin-top: 10px;

          }
}