#home {
          height: 800px;
          width: 100%;
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10vw;
}

#home h1 {
          color: rgba(0, 0, 0, 0.631);
}

.righthome {
          width: 50vw;
}

.download-button {
          display: inline-block;
          padding: 4px 15px;
           margin-top:20px;
          text-decoration: none;
          border-radius: 5px;
          font-weight: 400;
          background: transparent;
          border: 1px solid #007bff ;
          color: #007bff;
          transition: background-color 0.3s ease;
        }
        .download-button:hover {
          background-color: #0090d8;
          transition: background-color 0.3s ease;
          transition: transform 0.2s ease;
          transform: scale(1.01);
          color: white;
          filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
        }
        

.typewriter-text {
          font-size: 25px;
          font-weight: bold;
          color: #2c2b2bd8;
}

.img-box {
          position: relative;
          width: 25vw;
          height: 50vh;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

}

.img-box::before,
.img-box::after {
          content: '';
          position: absolute;
          width: 500px;
          height: 500px;
          background: conic-gradient(transparent, transparent, transparent, rgb(0, 200, 255));
          transform: rotate(0deg);
          animation: rotate-border 10s linear infinite;
}

.line-box img {
          width: 370px;
          height: 370px;
}

.img-box::after {
          animation-delay: -5s;
}

@keyframes rotate-border {
          100% {
                    transform: rotate(360deg);
          }
}

.img-box .line-box {
          position: relative;
          width: 80%;
          height: 80%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;

}
 
.icons {
  margin-top: 15px;
}

.icon-box {
  display: flex;
  gap: 15px;
 
 
}

.icon-box svg {
  width: 10vw;
  height: 30px;
  color: #007bff;
  transition: transform 0.2s ease;
  border: 1px solid #007bff ;
  border-radius: 50%;
  padding: 5px;
 

 
}

.icon-box svg:hover {
  transform: scale(1.2);  
  background-color: #0090d8;
  color: white;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}
.icon-wrapper {
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-icons-wrapper{
  display: flex;
  align-items: center;
  gap: 15px;
 }
 .cv-icons-wrapper .download-button{
  margin-bottom: 20px;
}


@media (max-width:750px) {
          #home {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;
          }

          .righthome {

                    width: 80vw;
          }

          .lefthome img {
                    width: 60vw;
                    height: 28vh;
          }

          .img-box {
                    width: 60vw;
                    height: 28vh;
          }

          .img-box::before,
          .img-box::after {
                    width: 400vw;
                    height: 100vh;
          }
          .line-box{
                    height: 50px;
                   width: 40px;
          }
          .download-button {
                    padding: 5px 10px;
          }
          .cv-and-icons {
            display: flex;
            align-items: center;
            gap: 15px;
           }
          .cv-and-icons .download-button{
            margin-bottom: 20px;
          }
          .cv-icons-wrapper .download-button {
            margin-bottom: -10px;
        }
        .cv-icons-wrapper {
          display: flex;
          align-items: start;
          flex-direction: column;
      }
      .icon-box svg {
        color: white;
        background-color: #0090d8;
        filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
      }
       

}