  .card{
          width: 120%;
          max-width:500px;
          height: 150px;
          background-color: rgb(15, 15, 90);
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1vw;
          box-shadow: 2px 2px 10px rgb(7, 7, 7), 2px 2px 20px black;
          transition: all 0.8s;
          cursor: pointer;
          flex-shrink: 0;
   }
   .card:hover{
          box-shadow: 2px 2px 10px rgb(0, 81, 152), 2px 2px 20px rgb(0, 44, 133);

   }

 .hovercard img{
          height:80%;
 }
 .hovercard{
          width: 100%;
          height: 100%;
          background: linear-gradient(to  top, rgb(3, 233, 214), rgb(30, 184, 255), black);
          position: absolute;
          bottom: 0;
          transform: translateY(100%);
          transition: all 0.5s;
          display: flex;
          align-items: center;
          justify-content: center;
           
 
 }

 .card:hover .hovercard{
          transform: translateY(0%);
          cursor: pointer;
 }
 .card h1{
          font-weight: 600;
          background: linear-gradient(to right, #ec7a00, rgb(222, 212, 207), rgb(38, 255, 56));
          background-clip: text;
          color: transparent;
          font-size: 25px;
 }

 @media (max-width:750px){
          .hovercard img{
                    height:60%;
           }
 }