nav {
  min-height: 10vh;
  height: 10vh;
  width: 100%;
  background-color: aliceblue;
  border-bottom: 1px solid rgba(188, 254, 255, 0.475);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  position: fixed;
  z-index: 1000;
}
.desktopmenu {
  display: flex;
  list-style: none;
  gap: 3vw;
  margin-left: 47vw;
  cursor: pointer;
 }
.active {
  border-bottom: 1px solid black;
  font-weight: 600;
}
nav img {
  height: 13vh;
  width: 6.5vw;
  padding: 1vw;
  opacity: 0.9;
}
.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  flex-direction: column;
  display: none;
}
.ham {
  width: 30px;
  height: 2px;
  background-color: black;
  transition: all 0.5s;
}
.mobailmenu {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-color: rgba(240, 248, 255, 0.65);
  backdrop-filter: blur(7px);
  right: 0;
  transform: translateX(100%);
  flex-direction: column;
  transition: all 0.5s;
}
.mobailmenu {
  list-style: none;
}
.activemobile {
  transform: translate(0);
}
.activeham .ham:nth-child(1){
 transform: rotate(45deg);
 position: relative;
 top: 8px;
}
.activeham .ham:nth-child(2){
  opacity: 0;
}
.activeham .ham:nth-child(3){
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
}
@media (max-width:750px) {
  .desktopmenu {
    display: none;
  }

  .hamburger {
    display: flex;
  }
  .mobailmenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  nav img {
    height: 8vh;
    width: 18vw;
    padding: 0.5vw;
    opacity: 0.9;
  }
  nav h2 {
    font-size: 10px;
    margin-right: 200px;
  }

  nav h3 {
    font-size: 6px;
  }
}